<div class="container">
<h1>Правила проведения соревнованиия</h1>
<h2>I. Общие положения</h2>
  <p>Марафон проводится в соответствии с правилами вида спорта «Легкая атлетика», утвержденными приказом Минспорттуризма России от 12 апреля 2010 года № 340 в целях:
    - популяризации здорового образа жизни, пропаганды бега, как массового и доступного вида спорта;
    - приобщения населения, привлечения детей, подростков и молодежи к регулярным занятиям физической культурой и спортом;
    - развития международных, студенческих, спортивных связей и спортивного туризма.</p>
  <h2>II. Место и сроки проведения</h2>
  <p>Марафон проводится в городе Томске 11 июня 2018 года по четырем дистанциям 42,195 км, 21,1км, 5 км и 1 км. Время старта детского забега в 12:00, время старта основного забега в 14:00.
    Старт и финиш Марафона на Новособорной площади. Трасса Марафона – два круга и проложена по историческому и архитектурному центру города.
    Трасса соревнований на дистанцию 42,195 км, сертифицирована Ассоциацией международных марафонов и пробегов (AIMS). Трасса соревнований на дистанции 21,1 км официально измерена.</p>
  <h2>III. Требования к участникам и условия их допуска</h2>
  <p>Право участия в Марафоне имеют граждане Российской Федерации и иностранных государств, прошедшие регистрацию и оплатившие её стоимость. Возможна регистрация только в одном виде программы.
    В спортивную программу Марафона входят:</p>
  <ul>
    <li><strong>официальные соревнования</strong> в беге по шоссе на двух стандартных дистанциях: <strong>42,195 км</strong> (марафон), <strong>21,1 км</strong> (полумарафон);</li>
    <li><strong>несоревновательный забег</strong> на дистанции <strong>5 км;</strong></li>
    <li><strong>несоревновательный забег</strong> на дистанции <strong>1 км;</strong></li>
  </ul>
  <p>К участию в официальных соревнованиях допускаются:</p>
  <ul>
    <li>на дистанции 42,195 км (марафон) – лица в возрасте 18 лет и старше;</li>
    <li>на дистанции 21,1 км (полумарафон) – лица в возрасте 16 лет и старше;</li>
    <li>на дистанции 5 км – лица в возрасте 12 лет и старше;</li>
    <li>на дистанции 1 км – дети до 12 лет.</li>
  </ul>
</div>
